@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}
.loading-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fde2e4, #e0f7fa);
  text-align: center;
}

.balloons {
  font-size: 4rem;
  animation: float 2s ease-in-out infinite;
}

.loading-container h2 {
  margin-top: 20px;
  font-size: 1.8rem;
  color: #ff4081;
}

.loading-container p {
  color: #555;
  margin-top: 5px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
